* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.Menu {
	width: 100%;
	background-color: #f0f0f0;
	font-size: 24px;
}

.MenuLink {
	height: 64px;
	line-height: 64px;
	display: inline-block;
	padding-right: 16px;
	padding-left: 16px;
	background-color: #f8f8f8;
}

.MenuLink:hover {
	background-color: #e8e8e8;
}

.MenuLink:active {
	background-color: #e0e0e0;
}

.TeamList {
	font-size: 18px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	column-gap: 4px;
	row-gap: 4px;
}

.TableList {
	font-size: 18px;
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 4px;
	row-gap: 4px;
}

.GradeList {
	font-size: 18px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	column-gap: 4px;
	row-gap: 4px;
}

.FieldGrade {
	padding: 0px;
}

.FieldGradeCheckbox {
	width: 32px;
	height: 32px;
}

.FieldControlls {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 4px;
	row-gap: 4px;
}

.FieldMoveControlls {
    width: 100%;
}

button {
	font-size: 18px;
	border: none;
	margin: 1px;
	border-radius: 4px;
	padding: 4px;
}

details {
	background-color: #e8e8e8;
	border-radius: 4px;
	border-color: #e0e0e0;
	border-width: 2px;
	border-style: solid;
	padding: 4px;
}

.Header {
	margin-top: 16px;
	background-color: #e8e8e8;
	border-radius: 4px;
	border-color: #e0e0e0;
	border-width: 2px;
	border-style: solid;
	padding: 4px;
	font-weight: bold;
}